doctype html
html(lang="ru-RU")
    head
        meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE7")
        meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel="icon" href="img/17.png" type="image/x-icon")
        link(href="css/all.css" rel="stylesheet")
        meta(charset="utf-8")
        title News
    body
        include modules/header
        include modules/main
        include modules/footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="js/main.js")

