footer
    .footer
        .footer__button
            a(href="#") deel op social media
        .footer__social_wrap
            .footer__social
                .social__item
                    .social__item__ico
                        img(src="img/viber.png" alt="social icon")
                .social__item
                    .social__item__ico.social__item__ico_facebook
                        img(src="img/facebook.png" alt="social icon")
                .social__item
                    .social__item__ico
                            img(src="img/twitter.png" alt="social icon")
                .social__item
                    .social__item__ico
                        img(src="img/link.png" alt="social icon")
        .footer__rights
            span Copyright 2018