header
    .header-text
        .header__logo_circle
            .logo_circle
                .img-cont
                    img(src="img/circle.png")
        .header__number
            .header-number
                .img-cont
                    img(src='img/17.png' alt="logo")
        .header__title
            .title
                span de 17 belangrijkste
                br
                span nieuwsmomenten van 2017
                br
                span volgens u.nl
        .header__scroll
            a(href="#news").scroll
                span Scroll om lezen
                .header__scroll__circle
                    img(src="img/scroll.png")

