main
    .container
        .news#news
            //.news__item
            //    .news_item__photo
            //        .img-cont
            //            img(src="img/01.jpg")
            //    .news_item__content-wrap
            //        .news_item__content
            //            .content__title
            //                h2 Donald Trump begint als president van de Verenigde Staten
            //                .news_date
            //                    span 20 JAN
            //            .content__text
            //                p Donald Trump wordt 20 januari geïnaugureerd als 45ste president van de Verenigde Staten. Wat volgt zijn opvallende maatregelen zoals het inreisverbod en het erkennen van Jeruzalem als hoofdstad van Israël. Ondertussen krijgt het onderzoek naar de Russische inmenging tijdens zijn verkiezingscampagne steeds meer vorm. Belangrijke voormalige adviseurs als Michael Flynn en Paul Manafort worden gehoord, en ook familieleden als zoon Trump Jr. en Jared Kushner moeten er aan geloven.
            //            .content__img
            //                .img-cont
            //                    img(src="img/03.jpg" alt="video")
            //                .play_sircle
            //.news__item
            //    .news_item__photo
            //        .img-cont
            //            img(src="img/02.jpg")
            //    .news_item__content-wrap
            //        .news_item__content
            //            .content__title
            //                h2 Donald Trump begint als president van de Verenigde Staten
            //                .news_date
            //                    span 20 JAN
            //            .content__text
            //                p Donald Trump wordt 20 januari geïnaugureerd als 45ste president van de Verenigde Staten. Wat volgt zijn opvallende maatregelen zoals het inreisverbod en het erkennen van Jeruzalem als hoofdstad van Israël. Ondertussen krijgt het onderzoek naar de Russische inmenging tijdens zijn verkiezingscampagne steeds meer vorm. Belangrijke voormalige adviseurs als Michael Flynn en Paul Manafort worden gehoord, en ook familieleden als zoon Trump Jr. en Jared Kushner moeten er aan geloven.
            //            .content__img
            //                .img-cont
            //                    img(src="img/02.jpg" alt="video")
            //                .play_sircle
            //.news__item.news__item_last
            //    .news_item__photo
            //        .img-cont
            //            img(src="img/03.jpg")
            //    .news_item__content-wrap
            //        .news_item__content
            //            .content__title
            //                h2 Donald Trump begint als president van de Verenigde Staten
            //                .news_date
            //                    span 20 JAN
            //            .content__text
            //                p Donald Trump wordt 20 januari geïnaugureerd als 45ste president van de Verenigde Staten. Wat volgt zijn opvallende maatregelen zoals het inreisverbod en het erkennen van Jeruzalem als hoofdstad van Israël. Ondertussen krijgt het onderzoek naar de Russische inmenging tijdens zijn verkiezingscampagne steeds meer vorm. Belangrijke voormalige adviseurs als Michael Flynn en Paul Manafort worden gehoord, en ook familieleden als zoon Trump Jr. en Jared Kushner moeten er aan geloven.
            //            .content__img
            //                .img-cont
            //                    img(src="img/03.jpg" alt="video")
            //                .play_sircle
